# Buildouts directories
/bin
/develop-eggs
/eggs
/parts
/.installed.cfg
/downloads
/lib

# Setuptools/Distributes files
*.egg-info
/dist
/build
.pytest_cache/
.coverage
htmlcov/

# Python precompiles
*.pyc
*.pyo

# Komodo project files
*.kpf
*.komodoproject

# Django essentials
secret.txt
dev*.db
settings_*.py
HOSTTYPE.INI

# ignore windows thumbnails
Thumbs.db

.pylintrc
wsgi.py
files/
.idea/

!/pyproject.toml
